---
import BlogPostTyped from '@components/BlogPostTyped.astro';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<MainLayout title="Home">
  <section class="wrapper">
    <h1>From the blog</h1>
    <div class="blogs">
      {posts.map(post => <BlogPostTyped post={post} />)}
    </div>
  </section>
</MainLayout>

<style>
  .blogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1rem;
  }

  @media screen and (min-width: 1050px) {
    .blogs {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }
</style>
